In [2]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.20-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.20

In [4]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [14]:
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install scipy

Collecting pandas
  Downloading pandas-1.1.3-cp38-cp38-win_amd64.whl (8.9 MB)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.2-cp38-cp38-win_amd64.whl (13.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six>=1.5 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.19.2 pandas-1.1.3 pytz-2020.1
Collecting matplotlib
  Downloading matplotlib-3.3.2-cp38-cp38-win_amd64.whl (8.5 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.2.0-cp38-none-win_amd64.whl (58 kB)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from matplotlib) (2020.6.20)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from matplotlib) (2.4.7)
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.0-cp38-cp38-win_amd64.whl (2.1 MB)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: six in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: kiwisolver, cycler, pillow, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.2 pillow-8.0.0
Requirement already satisfied: numpy in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (1.19.2)
Collecting scipy
  Downloading scipy-1.5.2-cp38-cp38-win_amd64.whl (31.4 MB)
Requirement already satisfied: numpy>=1.14.5 in c:\users\samue\miniconda3\envs\pythondata\lib\site-packages (from scipy) (1.19.2)
Installing collected packages: scipy
Successfully installed scipy-1.5.2

In [17]:
#Importing dependecies
import pandas as pd
import matplotlib as plt
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [23]:
#Connecting to PG Admin and creating engine 
db_uri ='postgresql+psycopg2://postgres:Getbig2015@@localhost:5432/Employee_db'
engine = create_engine(db_uri)
conn = engine.connect()

In [24]:
data = pd.read_sql('SELECT * FROM employees', conn)
data.head()

   emp_no title_id  birth_date  first_name  last_name sex   hire_date
0  473302    s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053    e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444    e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786    s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238    e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18